<h1>Fill the form!</h1>

<form action="/" method="POST">
    Insert keywords: <input type="text" name="keywords">
    <br/>
    Insert location: <input type="text" name="location">
    <br/>
    <input type="submit">
</form>